#wrapper {
    font-family: sans-serif;

}

.tasks {
    font-size: .7em;
    display: inline-block;
    width: 250px;
    border: 1px solid #474747;
    margin: 10px;
    padding: 10px;
    min-height: 250px;
    vertical-align: top;
}

hr {
    margin: 35px 0;
}
#createTask {
    margin: 30px 0;
}

.task {
    display: inline-block;
    width: 400px;
}

.task input {
    width: 200px;
}

.menu {
    display: block;
    margin: 20px 0;
}

.menu button {
    margin-right: 5px;
}